* {
	box-sizing: border-box;
}

.category-container {
	display: grid;
	grid-template-rows: 125px 125px 125px;
	grid-template-columns: 120px 120px;
	border-style: 10px black;
	justify-content: center;
	padding-top: 30px;
}

.category-link {
	padding: 10px;
}

.category-list {
	padding:0;
}

.category-item {
	list-style-type: none;
	text-align: center;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 10px;
	padding-bottom: 40px;
	padding-top: 40px;
	color: white;
	background-color: #ff9478;
}
