* {
	box-sizing: border-box;
}

.category-container {
	display: grid;
	grid-template-rows: 125px 125px 125px;
	grid-template-columns: 150px 150px;
	border-style: 10px black;
	justify-content: center;
	padding-top: 30px;
}

.category-link {
	padding: 10px;
}

.category-list {
	padding:0;
}

.category-item {
	list-style-type: none;
	text-align: center;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 10px;
	padding-bottom: 40px;
	padding-top: 40px;
	color: black;
	background-color: #ff9478;
}

@media screen and (min-width: 670px) {
	.category-container {
		display: grid;
		grid-template-rows: 200px 200px 200px;
		grid-template-columns: 300px 300px 300px;
		justify-content: center;
		align-items: center;
	}

	.category-list {
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.category-item {
		width: 80%;
	}
}