* {
  box-sizing: border-box;
}

.category-container {
  display: grid;
  grid-template-rows: 140px 140px 140px;
  grid-template-columns: 167px 167px;
  border-style: 10px black;
}

.category-list {
  text-decoration: none;
}

.category-item {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
}