.questions-form {
	display: flex;
	flex-direction: column;
	margin: 0 50px;
}

.question-title {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 5px 5px;
	background-color: lightgray;
	border-radius: 5px;
}

.questions-buttons {
	display: flex;
	justify-content: space-evenly;
}

.add-answer-button,
.delete-answer-button {
	width: 50%;
	margin-top: 15px;
}

.delete-answer-button {
	background-color: maroon;
	border-color: maroon;
}

.delete-answer-button:hover {
	background-color: rgb(83, 0, 0);
	border-color: rgb(83, 0, 0);
}

.submit-questions-button {
	margin-top: 15px;
}
